/* body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.main {
  min-height: 45.2rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  text-align: center;
  margin-top: 24px;
}

.title-guides {
  text-align: center;
}

.container-guides {
  min-height: 70vh;
  max-width: 1200px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  text-align: center;
  margin-top: 24px;
  gap: 3rem;
}

.card {
  text-align: center;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  color: white;
}

.card h3 {
  text-align: left;
  color: white;
}

.img-guides {
  max-width: 100%;
  width: 250px;
  height: auto;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.img-guides:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .main, .title-guides {
    max-width: clamp(720px, 90vw, 1200px);
    padding: 0 clamp(24px, 6vw, 32px);
    display: flex;
    flex-direction: column;
  }

  .container-guides{
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }

  .img-guides {
    width: 100%;
  }
}

@media (max-width: 1200px) {
  .main, .title-guides {
    max-width: min(1400px, 95vw);
    padding: 0 40px;
    display: flex;
    flex-direction: column;
  }

    .container-guides{
    justify-content: center;
  }

  .card {
    width: 100%;
    max-width: 350px;
  }

  .img-guides {
    width: 100%;
  }
} */

body {
  min-height: 100vh;
  margin: 0;
}

.main {
  min-height: 45.2rem;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: flex-start;
  text-align: center;
  margin-top: 24px;
}

.title-guides {
  text-align: center;
  color: white;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 40px;
}

.container-guides {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 100%;
}

.card {
  border-radius: 12px;
  overflow: hidden; /* mb auto? */
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  color: white;
  transition: all 0.3s ease;
}

.card a {
  text-decoration: none;
  color: inherit;
  width: 100%;
}

.img-guides {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.3s ease;
  overflow: hidden;
  margin-top: 0.5rem;
}

.img-guides:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0, 136, 204, 0.3);
}

.card h3 {
  padding: 0.5rem 1rem 1rem;
  font-size: 1.15rem;
}

@media (max-width: 930px) {
  .card {
    flex-direction: row;
    align-items:start;
    width: 100%;
    max-width: 100%;
    gap: 10px;
    padding: 1rem;
  }

  .img-guides {
    width: 100%;
    max-width: 500px;
  }

  .card h3 {
    padding: 0;
    font-size: 1.25rem;
  }

}

@media (max-width: 625px) {
  .card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .img-guides {
    width: 100%;
    max-width: 575px;
  }

  .card h3 {
    text-align: left;
    padding: 0.5rem 1rem 1rem;
  }
}

