body {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.main {
  width: 1200px;
  min-height: 45.2rem;
  margin: 0 auto;
  padding: 0 auto;
}

.title-guides {
  text-align: center;
}

.container-guides {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.card {
  text-align: center;
  width: 300px;
}

h2 {
  color: white;
}

.img-guides {
  max-width: 100%;
  width: 200px;
  height: auto;
}

@media (max-width: 786px) {
  .main, .container-guides {
    flex-direction: column;
  }
}